*{
    margin: 0;
    padding: 0;
}

form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}
.form-control {
    width: 250px;
    height: 37px;
}
.btn{
    width: 230px;
    height: 45px;
    padding: 8px;
    border: none;
    border: 1px solid #0000003f;
}
.btn-danger{
    width: 42px;
    height: 32px;
    padding: 4px;
}
th, table, tbody, tr{
    border: 1px solid #00000044;
}

